---

---

<div class="px-gx py-gx">
  <div class="md:w-2/3">
    <p class="uppercase my-[1em] flex">
      <span class="underline"
        ><a target="_blank" href="https://soundcloud.com/pinsyl">Soundcloud</a
        ></span
      >
      <span> —</span>
      <span class="underline"
        ><a target="_blank" href="https://www.instagram.com/pinsyl/"
          >Instagram</a
        ></span
      >
      <span> —</span>
      <span class="underline"
        ><a
          target="_blank"
          href="https://www.linkedin.com/in/giulia-silvestri-47222aa2/"
          >LinkedIn</a
        ></span
      >
    </p>
  </div>
</div>
