---

---

<div class="px-gx py-gy">
  <div class="md:w-2/3">
    <h1 class="text-lg uppercase">
      Pinsyl, aka Giulia Silvestri, class 1994, is a Venetian-born and
      Milan-based sound designer and content creator for immersive environments.
    </h1>
    <p class="uppercase my-[1em]">
      <span class="underline"><a href="http://">Get in Touch</a></span>
      <span> —</span>
      <span>Milan, Italy</span>
    </p>
  </div>
</div>
