---

---

<div class="px-gx py-gy">
  <div class="md:w-2/3">
    <h1 class="text-lg uppercase">
      Pinsyl, aka Giulia Silvestri, class 1994, is a Milan based sound designer
      and content creator for immersive environments.
    </h1>
    <p class="my-[1em]">
      <span class="underline"
        ><a href="mailto:giuliasilvestri.808@gmail.com">get in touch</a></span
      >
      <span> —</span>
      <span>milan, italy</span>
    </p>
  </div>
</div>
